.recipe-card{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    width: 33%;
    height: 100%;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    cursor: pointer;
}

.recipe-card:hover{
    border: 2px black solid;
}