.form-container{
    display: flex;
    justify-content: space-between;
}

.auth-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 125px;
    gap: 20px;
    color: sienna;
}

.auth-form h2{
    font-size: 40px;
}

.auth-form p{
    font-size: 20px;
}

.auth-input-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.auth-input{
    border: none;
    border-bottom: 1px solid black;
    padding: 7px;
    font-size: 17px;
}

.auth-button{
    border: none;
    background-color: sienna;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
}

.signup-link{
    font-style: italic;
    cursor: pointer;
}

.signup-link:hover{
    color: black;
    text-decoration: underline;
}

.auth-img{
    height: 90vh;
    width: 40%;
    object-fit: cover;
    padding-right: 50px;
}

@media screen and (max-width: 1130px){

    .auth-form{
        width: 50%;
        padding: 50px;
    }

    .auth-form h2{
        font-size: 35px;
    }

    .auth-form p{
        font-size: 17px;
    }

    .auth-input-container{
        width: 250px;
    }

    .auth-img{
        width: 50%;
        padding-right: 30px;
    }
}

@media screen and (max-width: 670px){

    .form-container{
        flex-direction: column-reverse;
    }

    .auth-form{
        width: 100%;
        padding: 150px 50px;
    }

    .auth-img{
        width: 100%;
        padding-right: 0;
        height: 300px;
    }
}

@media screen and (max-width: 380px){
    
    .auth-form{
        width: 100%;
        padding: 100px 20px 150px;
    }

    .auth-form h2{
        font-size: 32px;
    }

    .auth-form p{
        font-size: 15px;
    }

    .auth-input-container{
        width: 230px;
    }

    .auth-input{
        font-size: 15px;
    }

    .auth-button{
        padding: 7px 25px;
    }

    .auth-img{
        height: 250px;
    }
}