.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 1px black solid;
}

.header-container h1{
    font-size: 40px;
    cursor: pointer;
}

.header-container p{
    font-size: 17px;
}

.menu-closed{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-open{
    display: flex;
    gap: 100px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: sienna;
    padding: 40px 30px;
    z-index: 2;
}

.signup-btn{
    border: 1px solid white;
    background-color: sienna;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
}

.signup-btn:hover{
    font-weight: 400;
}

.menu-icon{
    font-size: 2em;
    cursor: pointer;
}

.arrow-icon{
    color: white;
}

.menu-options{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipe-category{
    font-weight: 300;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.recipe-category:hover{
    font-weight: 400;
}