.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 1px black solid;
}

.header-container h1{
    font-size: 40px;
    cursor: pointer;
}

.header-container p{
    font-size: 17px;
}

.menu-closed{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logged-in-menu-closed{
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-open{
    display: flex;
    gap: 100px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: sienna;
    padding: 40px 30px;
    z-index: 2;
}

.signup-btn{
    border: 1px solid white;
    background-color: sienna;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
}

.signup-btn:hover{
    font-weight: 400;
}

.menu-icon{
    font-size: 2em;
    cursor: pointer;
}

.arrow-icon{
    color: white;
}

.menu-options{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-title{
    color: white;
    padding-top: 20px;
    border-top: 1px white solid;
    font-weight: 500;
}

.recipe-category{
    font-weight: 300;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.recipe-category:hover{
    font-weight: 400;
    text-decoration: underline;
}

.recipe-category-p{
    font-weight: 500;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1200px){

    .header-container{
        padding: 20px 30px;
    }
}

@media screen and (max-width: 1130px){

    .header-container{
        padding: 10px 30px;
    }

    .header-container h1{
        font-size: 30px;
    }

    .header-container p{
        font-size: 15px;
    }

    .menu-closed{
        gap: 10px;
    }

    .logged-in-menu-closed{
        gap: 10px;
    }

    .menu-open{
        gap: 50px;
        padding: 30px;
    }

    .signup-btn{
        padding: 7px 25px;
    }

}

@media screen and (max-width: 670px){

    .header-container{
        padding: 7px 20px;
    }

    .header-container h1{
        font-size: 25px;
    }

    .header-container p{
        font-size: 12px;
    }

    .logged-in-menu-closed{
        display: none;
    }

    .menu-open{
        gap: 30px;
        padding: 25px;
    }

    .category-title{
        font-size: 17px;
    }

    .recipe-category{
        font-size: 12px;
    }

}

@media screen and (max-width: 380px){

    .header-container{
        padding: 7px 15px;
    }

    .header-container p:nth-child(2){
        display: none;
    }

    .menu-open{
        gap: 10px;
        padding: 20px;
    }

    .category-title{
        font-size: 15px;
    }

    .signup-btn{
        padding: 7px 20px;
        font-size: 12px;
    }
}