.comments-form{
    display: flex;
    align-items: center;
}

.comments-form textarea{
    padding: 10px 20px;
    margin: 30px 50px;
    font-size: 19px;
    border: none;
    border-bottom: 1px solid black;
    resize: vertical;
    width: 50%;
}

.comments-form button{
    border: none;
    background-color: sienna;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    margin: 50px 0 30px;
}

.comment-p{
    color: sienna;
    font-size: 22px;
    padding-top: 30px;
}

.comment-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px black solid;
    padding: 30px;
    width: 85%;
}

.comment-container:last-child{
    border: none;
}

.trash-icon{
    font-size: 1.5em;
    cursor: pointer;
}

@media screen and (max-width: 1130px){

    .comments-form textarea{
        width: 55%;
    }

    .comment-p{
        font-size: 19px;
    }

    .comment-container{
        width: 95%;
    }
}

@media screen and (max-width: 670px){

    .comments-form textarea{
        width: 50%;
        font-size: 17px;
        padding: 10px;
        margin: 20px 30px;
    }

    .comment-p{
        font-size: 17px;
    }
}

@media screen and (max-width: 380px){

    .comments-form{
        flex-direction: column;
        align-items: flex-end;
    }
    
    .comments-form textarea{
        width: 80%;
        font-size: 15px;
        padding: 10px;
        margin: 10px 30px;
    }

    .comments-form button{
        padding: 10px 25px;
        font-size: 15px;
        margin: 10px 30px;
    }

    .comment-p{
        font-size: 15px;
    }

    .comment-container{
        padding: 20px 15px;
        width: 100%;
    }
}