.banner-container{
    display: flex;
    flex-direction: column;
}

.main-recipe-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 50px;
    padding: 0 50px;
    border-bottom: 1px black solid;
}

.main-recipe-container:hover{
    border: 2px solid black;
}

.main-recipe-img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    cursor: pointer;
}

.main-recipe-info{
    padding: 50px 0;
    width: 600px;
    cursor: pointer;
}

.main-recipe-container h2{
    font-size: 40px;
    padding-bottom: 10px;
}

.main-date{
    font-style: italic;
    padding-bottom: 10px;
}

.main-recipe-container p{
    font-size: 20px;
}

.other-recipes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.other-recipe{
    display: flex;
    flex-direction: column;
    padding: 50px 0 30px;
    width: 33%;
}

.other-recipe:hover{
    border: 2px solid black;
}

.other-recipe:nth-child(2){
    border-left: 1px black solid;
}

.other-recipe:nth-child(3){
    border-left: 1px black solid;
}

.other-recipes-img{
    height: 400px;
    width: 350px;
    object-fit: cover;
    cursor: pointer;
}

.other-recipe-info{
    text-align: right;
    padding-top: 10px;
    padding-right: 50px;
}

.other-recipe-info h2, .other-recipe-info p{
    cursor: pointer;
}
